:root {
    --cor-primaria: #094275;
    --cor-secundaria: #DC7364;
    --cor-terciaria: #F0D5C0;
}

#body {
    height: 100vh;
}

#tabela-clientes {
    background-color: #fff;
    height: 80vh;
    overflow: auto;
}

.data {
    background-color: #DC7364;
    border-bottom: 1px solid #fff;
    width: 100vw;
    padding: 10px;
}
.table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    font-size: 1.2em;
}

.row{
    display: table-row;
}

.cell{
    display: table-cell;
    width: 100vw;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.hide{
    display: none;
}
