#container-da-barra-de-navegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
}

#itens-da-barra-de-navegacao a{
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

#logoMarca {
    height: 50px;
    width: 60px;
}
