#painel{
    background-color: #FDF5F4;
    width: 100vw;
    height: 100vh;
}

#rodape-tabela-historico-do-cliente #btn-pdf {
    float: right;
    margin-right: 5px;
}

.historico {
    height: 85vh;
}

.historico-conteudo {
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
    border-bottom: 1px solid #000;
    text-align: center;
}
